@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.skill {
  @include flex($direction: column, $align: center);
  width: 250px;
  background-color: $bgSecondColor;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid $borderColor;
  transition: 1s;
  &:hover{
    background-color: $borderColor;
    transform: scale(0.95,0.95);
  }

  .icon {
    width: 60px;
    height: 60px;

    .iconStyle {
      width: 100%;
      height: 100%;
    }
  }

  span {
    color: $textColor;
  }
}

