@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.skillsBlock {
  background-color: $bgColor;

  .skillsContainer {
    @include flex($direction: column, $justify: flex-start, $align: center);

    .skills {
      width: 100%;
      @include flex($justify: space-between, $wrap: wrap);
      box-sizing: border-box;
      padding: 60px 0;
      @media screen and (max-width: 630px) {
        justify-content: center;
      }
    }

    .skillsRate {
      @include flex($wrap: wrap);
      width: 100%;
      @media screen and (max-width: 630px) {
        justify-content: center;
      }
    }
  }
}



