@import './variables';

@mixin text($fontFamily: ('Josefin Sans', sans-serif), $fontSize: 1em, $fontWeight: null, $lineHeight: null, $color: #333, $letterSpace: null) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
  letter-spacing: $letterSpace;
}

@mixin flex($direction: row, $justify: null, $align: null, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName}  {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}